td {
	width:25%;
	height:30px;
	font-size:15px;
	text-align: right;
	vertical-align: top;
}
a {
	font-size: 15px;
	text-decoration: none;
	color: black;
	background-color: #0000FF;
}
.tables {
	width: 100%;
	height: 100%;
	float: right;
}
input {
	width: 90%;
	background-color: white;
}
select {
	width: 90%;
}
textarea {
	background-color:white;
	width: 97%;
}