body{
	padding: 10px;
}

.panel-header{
	
}

td{
	height: 50px;
	width: 80px;
	text-align: left;
	vertical-align: middle;
}
.img2 {
	width: 160px;
}
.img3{
	width: 100%;
}
div{
	
}