body{
	padding: 10px;
}

.panel-header{
	
}

.td1{
	height: 50px;
	width: 80px;
	text-align: left;
	vertical-align: middle;
}

.td2{
	font-size:15px;
	width: 80px;
	height: 30px;
	text-align: left;
	vertical-align: middle;
	border-bottom:1px solid black;
}

.td3{
	font-size:15px;
	height: 30px;
	width: 300px;
	text-align: left;
	vertical-align: middle;
	border-bottom:1px solid black;
	padding-left: 30px;
}
.td4{
	height: 15px;
	text-align: left;
	vertical-align: middle;
	border-bottom:1px solid black;
}
.img2 {
	width: 160px;
}
.img3{
	width: 100%;
}

a{
	color: black;
	text-decoration: none;
	font-size:15px;
}